<!DOCTYPE html>
<html lang="en">

<head class="bg-gradient">
    <meta charset="utf-8">
    <title style="color: black !important;">DONA MARIA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

</head>

<body>
    <div class=" p-0">
   <!-- Navbar & Hero Start -->
        <div class="position-relative p-0">
          <nav class="navbar navbar-expand-lg navbar-dark px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0 d-flex align-items-center">
              <img src="logo black writing.png" alt="DONA MARIA Logo" style="height: 100px;width: 100%; margin-right: 10px;">
              <h1 style="color: black !important;font-size: 1.5rem;" class=" m-0"><i class="fa fa-utensils me-2"></i>DONA MARIA</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav ms-auto py-0 pe-4">
                <a href="index.html" class="nav-item nav-link active">Accueil</a>
                <a href="service.html" class="nav-item nav-link active">Evenement</a>
                <a href="menu.html" class="nav-item nav-link active">Menu</a>
                <a href="contact.html" class="nav-item nav-link active">Contact</a>
              </div>
              <a href="" class="btn btn-primary py-2 px-4">réserver une table</a>
            </div>
          </nav>

          <!-- Video Background -->
          <div class="hero-header mb-5 position-relative">
            <!-- Background Video -->
            <video autoplay muted loop playsinline class="background-video">
              <source src="0609.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>

            <!-- Gradient Overlay -->
            <div class="video-overlay"></div>

            <!-- Content Overlay -->
            <div class="container my-5 py-5 text-overlay">
              <div class="row align-items-center g-2">
                <div class="col-lg-6 text-center text-lg-start">
                  <h1 style="color: #173782;" class="display-3 animated slideInLeft">Les saveurs du Portugal</h1>
                  <p  style="color: #173782; font-size: 1.5rem; font-weight: bold;" class=" mb-5 pb-3">
                    PORTUGAIS . FRAIS . FAIT MAISON
                  </p>
                  <a style="color: #ffffff;font-size: 1rem;" href="" class="btn btn-primary py-sm-4 px-sm-6 animated slideInLeft">
                    Réserver une table
                  </a>
                </div>
                <div class="col-lg-6 text-center text-lg-end overflow-hidden py-2">
                  <img class="img-fluid" style="max-width: 80%; height: auto;" src="hero1.png" alt="Responsive Image">
                </div>

              </div>
            </div>
          </div>

        </div>

        <!-- Service End -->


        <!-- About Start -->

        <!-- About End -->
      </div>


        <!-- Menu Start -->
        <div class="container-xxl py-5 " style="background: white !important ;color: #ffffff !important;background-color:white !important; z-index: 99 !important ;     position: relative !important;
">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h2 style="color: #173782 ;" class="section-title ff-secondary text-center text-primary fw-normal">Menu des plats</h2>
                </div>
                <div class="tab-class text-center wow fadeInUp py-5" data-wow-delay="0.1s">
                  <div class="containeri py-5">
                    <div>
                      <div class="contenti">
                        <h3 style="color: #173782 ;">Drinks</h3>
                      </div>
                    </div>
                    <div>
                      <div class="contenti">
                        <h3 style="color: #173782 ;">Dinner</h3>
                      </div>
                    </div>
                    <div>
                      <div class="contenti">
                        <h3 style="color: #173782 ;">Breakfast</h3>
                      </div>
                    </div>
                    <div>
                      <div class="contenti">
                        <h3 style="color: #173782 ;">Desserts</h3>
                      </div>
                    </div>
                  </div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="_DSC9469.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2 ">
                                                <span style="color: #000000 ;" class="text ff-secondary   fw-normal" >Gambas à guilho (cal 21/30)</span>
                                                <span class="text-primary">8 pcs 19.00</span>
                                            </h5>
                                            <small class="fst-italic">Crevettes flambées à l'ail</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="menu-2.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span style="color: #000000 ;" class="text ff-secondary   fw-normal">Amêijoas à Bulhão PatoPalourdes</span>
                                                <span class="text-primary">18.00</span>
                                            </h5>
                                            <small class="fst-italic">Palourdes en persillade</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="menu-3.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span style="color: #000000 ;" class="text ff-secondary   fw-normal">Tábua de queijo e presunto</span>
                                                <span class="text-primary">16.00</span>
                                            </h5>
                                            <small class="fst-italic">Plateau de fromage et jombon cru</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="menu-4.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span style="color: #000000 ;" class="text  fw-normal ">Salada verde | mista</span>
                                                <span class="text-primary">6.00 | 7.50</span>
                                            </h5>
                                            <small class="fst-italic">Salada verde | mista</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="_DSC9781.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span style="color: #000000 ;" class="text ff-secondary   fw-normal">Sopa de legumes</span>
                                                <span class="text-primary">6.00</span>
                                            </h5>
                                            <small class="fst-italic">Soupe de légumes</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="menu-6.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span style="color: #000000 ;" class="text ff-secondary   fw-normal">Bolinho bacalhau | Rissóis decamarão ou carnePlateau</span>
                                                <span class="text-primary">2.50/un</span>
                                            </h5>
                                            <small class="fst-italic">Accras de morue / Rissoles aux crevettes ou viande</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="menu-7.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span style="color: #000000 ;" class="text ff-secondary   fw-normal">Tremocos</span>
                                                <span class="text-primary">2.5</span>
                                            </h5>
                                            <small class="fst-italic">Graines de lupins</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="menu-8.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span style="color: #000000 ;" class="text ff-secondary   fw-normal">Azeitonas</span>
                                                <span class="text-primary">2.50</span>
                                            </h5>
                                            <small class="fst-italic">Olives</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="menu-1.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="menu-2.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" menu-3.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" menu-4.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" .jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" .jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" menu-7.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" menu-8.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" menu-1.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" .jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" g" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" u-5.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" menu-6.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" menu-7.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" menu-8.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
        <div class="container-xxl py-5 " style="background:linear-gradient(180deg, rgba(255, 255, 255, 0.904) 0%, rgba(2, 139, 208, 0.925) 100%);z-index: -1;">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h2 style="color: #173782 ;" class="section-title ff-secondary text-center text-primary fw-normal">Menu de jours</h2>
                </div>
                <div class="tab-class text-center wow fadeInUp py-5" data-wow-delay="0.1s">

                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="menu-1.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2 ">
                                                <span style="color: #000000 ;" class="text ff-secondary   fw-normal" >Gombas</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small style="color: #000000 ;" class="fst-italic">garlic + shrimp</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="menu-2.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span style="color: #000000 ;" class="text ff-secondary   fw-normal">Spagetti</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small style="color: #000000 ;" class="fst-italic">Spagetti + Beef</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="menu-3.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span style="color: #000000 ;" class="text ff-secondary   fw-normal">Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small style="color: #000000 ;" class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="menu-7.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span style="color: #000000 ;" class="text ff-secondary   fw-normal">Pizza                                                </span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small style="color: #000000 ;" class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="menu-1.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="menu-2.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" menu-3.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" menu-1.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" .jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" g" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" u-5.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" menu-6.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" menu-7.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=" menu-8.jpg" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Chicken Burger</span>
                                                <span class="text-primary">$115</span>
                                            </h5>
                                            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Reservation Start -->
        <div class="container-xxl  wow fadeInUp" style="background-color: white;z-index: 99;" data-wow-delay="0.1s">

        <div class="col-md-6 container  pt-5 pb-3 bg-dark d-flex align-items-center">
          <div class="text-center wow fadeInUp " data-wow-delay="0.2s">
              <h5 class="section-title ff-secondary text-center text-primary fw-normal">Reservation</h5>
              <h1 class="text-white mb-4">Réserver une table en ligne</h1>
              <form>
                  <div class="row g-3">
                      <div class="col-md-6">
                          <div class="form-floating">
                              <input type="text" class="form-control" id="name" placeholder="Your Name">
                              <label for="name">Nom</label>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-floating">
                              <input type="email" class="form-control" id="email" placeholder="Your Email">
                              <label for="email">Telephone</label>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-floating date" id="date3" data-target-input="nearest">
                              <input type="text" class="form-control datetimepicker-input" id="datetime" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                              <label for="datetime">Date et heure</label>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-floating">
                              <select class="form-select" id="select1">
                                <option value="1">Personne 1</option>
                                <option value="2">Personnes 2</option>
                                <option value="3">Personnes 3</option>
                                <option value="3">Personnes 4</option>

                              </select>
                              <label for="select1">No de Personnes</label>
                            </div>
                      </div>
                      <div class="col-12">
                          <div class="form-floating">
                              <textarea class="form-control" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                              <label for="message">Demande spéciale</label>
                          </div>
                      </div>
                      <div class="col-12">
                          <button class="btn btn-primary w-100 py-3" type="submit">Réservez maintenant</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
    </div>


        <!-- Modal for Video -->


        <!-- Team Start -->
        <div class="container-xxl pt-5 pb-3"style="background-color: white;z-index: 99;">
          <div class="container">
              <!-- Section Title -->
              <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                  <h5 class="section-title ff-secondary text-center text-primary fw-normal">Membres de l'équipe</h5>
                  <h1 class="mb-5">Our Master Chefs</h1>
              </div>
              <!-- Team Members Grid -->
              <div class="row g-4">
                  <!-- Team Member 1 -->
                  <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                      <div class="team-item text-center rounded shadow-lg overflow-hidden">
                          <!-- Image Container -->
                          <div class="rounded-circle overflow-hidden mx-auto" style="width: 150px; height: 150px;">
                            <img class="img-fluid" src="DSC00278.jpg" alt="Chef Image" style="object-fit: cover; height: 100%;">
                          </div>
                          <!-- Text Content -->
                          <h5 class="mt-3 mb-1">John Doe</h5>
                          <small class="text-muted">Head Chef</small>
                          <!-- Social Icons -->
                          <div class="d-flex justify-content-center mt-3">
                              <a class="btn btn-square btn-outline-primary mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square btn-outline-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square btn-outline-primary mx-1" href="#"><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
                  <!-- Team Member 2 -->
                  <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                      <div class="team-item text-center rounded shadow-lg overflow-hidden">
                          <div class="rounded-circle overflow-hidden mx-auto" style="width: 150px; height: 150px;">
                            <img class="img-fluid" src="DSC08828.jpg" alt="Chef Image" style="object-fit: cover;">

                          </div>
                          <h5 class="mt-3 mb-1">Jane Smith</h5>
                          <small class="text-muted">Sous Chef</small>
                          <div class="d-flex justify-content-center mt-3">
                              <a class="btn btn-square btn-outline-primary mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-square btn-outline-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-square btn-outline-primary mx-1" href="#"><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item text-center rounded shadow-lg overflow-hidden">
                        <div class="rounded-circle overflow-hidden mx-auto" style="width: 150px; height: 150px;">
                          <img class="img-fluid" src="DSC08828.jpg" alt="Chef Image" style="object-fit: cover;">

                        </div>
                        <h5 class="mt-3 mb-1">Jane Smith</h5>
                        <small class="text-muted">Sous Chef</small>
                        <div class="d-flex justify-content-center mt-3">
                            <a class="btn btn-square btn-outline-primary mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary mx-1" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="team-item text-center rounded shadow-lg overflow-hidden">
                      <div class="rounded-circle overflow-hidden mx-auto" style="width: 150px; height: 150px;">
                        <img class="img-fluid" src="DSC08828.jpg" alt="Chef Image" style="object-fit: cover;">

                      </div>
                      <h5 class="mt-3 mb-1">Jane Smith</h5>
                      <small class="text-muted">Sous Chef</small>
                      <div class="d-flex justify-content-center mt-3">
                          <a class="btn btn-square btn-outline-primary mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                          <a class="btn btn-square btn-outline-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                          <a class="btn btn-square btn-outline-primary mx-1" href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
              </div>
          </div>
      </div>

        <!-- Team End -->


        <!-- Testimonial Start -->
        <div class="container-xxl py-5 wow fadeInUp" style="background-color: white;z-index: 2;"data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Témoignage</h5>
                    <h1 class="mb-5">Our Clients Say!!!</h1>
                </div>
                <div class="owl-carousel testimonial-carousel">

                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p style="color: #000000 ;" class="text ff-secondary   fw-normal">Ce restaurant est absolument fantastique ! L'ambiance est chaleureuse et le service est de premier ordre. Je le recommande vivement à tous ceux qui recherchent un bon endroit pour manger !</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src=" testimonial-2.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 style="color: #4e4c4c ;" class="mb-1">Noah Schmid</h5>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p style="color: #000000 ;" class="text ff-secondary   fw-normal">The food here is simply incredible! Every dish is full of flavor, and the ingredients taste so fresh. I keep coming back because I can’t get enough!</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src=" testimonial-3.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 style="color: #4e4c4c ;" class="mb-1">Sophie Dubois</h5>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p style="color: #000000 ;" class="text ff-secondary   fw-normal">La nourriture ici est tout simplement incroyable ! Chaque plat est plein de saveur et les ingrédients sont si frais. Je reviens sans cesse car je ne peux pas m'en passer !</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src=" testimonial-4.jpg" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 style="color: #4e4c4c ;" class="section-title ff-secondary   fw-normal" class="mb-1">Luca Meier </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


<!-- Video Background -->
<div class="video-container">
  <video autoplay muted loop playsinline class="background-video">
    <source src="0609.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

<!-- Footer Start -->
<div class="container-fluid footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5 position-relative">
      <!-- Logo and Info Section -->
      <div class="row">
          <!-- Logo Section -->
          <div class="col-md-4 text-center text-md-start">
              <div>
                  <img width="150" src="http://donamaria.ch/wp-content/uploads/2023/06/Dona-Maria-Logo-2.svg" alt="Dona Maria Logo">
              </div>
              <p class="mt-3">Les saveurs du Portugal à côté de chez vous!</p>
              <div class="d-flex justify-content-center justify-content-md-start mt-3">
                  <a href="tel:+41327304498" class="btn btn-light btn-sm d-flex align-items-center">
                      <i class="fas fa-phone-volume me-2"></i> +41 32 730 44 98
                  </a>
              </div>
          </div>

          <!-- Links Section -->
          <div class="col-md-4 text-center text-md-start mt-4 mt-md-0">
              <h5 class="text-light mb-3">Quick Links</h5>
              <ul class="list-unstyled">
                  <li><a href="" class="text-decoration-none text-light">Accueil</a></li>
                  <li><a href="" class="text-decoration-none text-light">Cookies</a></li>
                  <li><a href="" class="text-decoration-none text-light">Help</a></li>
                  <li><a href="" class="text-decoration-none text-light">FQAs</a></li>
              </ul>
          </div>

          <!-- Copyright Section -->

      </div>
  </div>
</div>
<!-- Footer End -->

        <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
